{{>header}}
<!-- SEBASTIÁN -->
<div class="container">
    <form id="formularioPrivado" action="/guardar-calificaciones-curso" method="POST">
        <h4 align="center">Datos del curso</h4>
        <div class="dropdown-divider"></div>
        <div class="col">            
            <div class="row">
                <div class="col">
                    <b>ID</b>: {{miCurso.id}}
                </div>
                <div class="col">
                    <b>Nombre</b>: {{miCurso.nombre}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>Descripción</b>: {{miCurso.descripcion}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>Modalidad</b>: {{miCurso.modalidad}}
                </div>
                <div class="col">
                    <b>Valor</b>: {{miCurso.valor}}
                </div>
                <div class="col">
                    <b>Intensidad</b>: {{miCurso.intensidad}}
                </div>
                <div class="col">
                    <b>Estado</b>: {{miCurso.estado}}
                </div>
            </div>
        </div>
        <br>
        <div class="dropdown-divider"></div>
        <h4 align="center">Listado de estudiantes</h4>
        {{{listar-estudiantes-calificar listaEstudiantes}}}
        <div class="form-group" align="center">
            <button class="btn btn-primary" id="idCurso" name="idCurso" value="{{miCurso.id}}">Guardar</button>
            <a class="btn btn-secondary" href="/mis-cursos-docente">Cancelar</a>
        </div>
        <div id="chatPrivado">
    
        </div>
        <input type="text" id="nombreProfesor" value="{{nombreProfesor}}" hidden>
        <input type="text" id="nombreCurso" value="{{miCurso.nombre}}" hidden>
        <input type="text" id="usuario" value="{{nombreProfesor}}" hidden>
        <input type="text" id="documentoUsuario" value="{{documentoUsuario}}" hidden>
    </form>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/socketnotificacion.js"></script>
<!-- FIN SEBASTIÁN -->
{{>footer}}